.caja{
    width: 100px;
    height: 100px;
    background: orange;
}
.verde{
    background: greenyellow;
}
.rojo{
    background: indianred;
}

/* esto es para el ejercicio */

.padre{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

.hijo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
}

.rosa{
    background: pink;
}